@font-face {
  font-family:"poppins-normal";
  src: url("../fonts/Poppins-Regular.woff2");
}
@font-face {
  font-family:"poppins-bold";
  src: url("../fonts/Poppins-Bold.woff2");
}
@font-face {
  font-family:"poppins-italic";
  src: url("../fonts/Poppins-Italic.woff2");
}

html{
  font-family: "poppins-normal" !important;
}

body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #0632d1, #000000);
}

#tendance{
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.carousel-item img{
  width: 100%;
  height: auto;
}

.container{
  padding: 20px;
  background: black;
  color: white;
}

.categorie{
  background: lightgrey;
  color: black;
}

.intro{
  padding-top: 50px;
  padding-bottom: 30px;
  background: #212529;
}

.intro .col-4 img{
  padding-bottom: 20px;
  justify-content: center;
}

.logo .col-md-1{
  width: 100% !important;
}

.images{
  width: 75%;
  text-align: center;
}

.containerhelp{
  padding: 20px;
  background: black;
  color: white;
  text-align: center;
}

.popup{
  color: black;
}

.card a{
  text-decoration: none;
  color: white;
}
